<div class="row">

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Edition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @downloads.each do |download| %>
      <tr>
        <td><%= download.edition %></td>
        <td><%= link_to "View File", download%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="js/turn.min.js"></script>

<style type="text/css">
body{
  background:#ccc;
}
#magazine{
  width:1152px;
  height:752px;
}
#magazine .turn-page{
  background-color: #ccd;
  background-size:100% 100%;
}
</style>
</head>
<body>

<div id="magazine">
  <div style="background-image:url(public/1.jpg);">Page 1</div>
  <div>Page 2</div>
  <div>Page 3</div>
  <div>Page 4</div>
  <div>Page 5</div>
  <div>Page 6s</div>
</div>


<script type="text/javascript">

  $(window).ready(function() {
    $('#magazine').turn({
              display: 'double',
              acceleration: true,
              gradients: !$.isTouch,
              elevation:50,
              when: {
                turned: function(e, page) {
                  /*console.log('Current view: ', $(this).turn('view'));*/
                }
              }
            });
  });
  
  
  $(window).bind('keydown', function(e){
    
    if (e.keyCode==37)
      $('#magazine').turn('previous');
    else if (e.keyCode==39)
      $('#magazine').turn('next');
      
  });

</script>


<br>
<%= link_to 'Back', root_path %>

</div>
