  <div class="row">
    <h3>Users</h3>
      <table class="table table-responsive">
        <thead>
          <th>Name</th>
          <th>Email</th>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
