<div class="row">
	<div class="admin-infobox pull-left">
		<h2><%= link_to  "All articles",articles_path %></h2>
		<p>View, show, delete, edit articles that have been posted already, or create new articles.</p>
	</div>
	<div class="admin-infobox pull-right">
		<h2><%= link_to  "All Users",users_path %></h2>
		<p>View, show, delete, edit and change roles of registered users.</p>
	</div>
</div>
<div class="row">
	<div class="admin-infobox pull-left">
		<h2><%= link_to  "All Events",events_path %></h2>
		<p>View, show, delete, edit articles that have been created already, or create new events.</p>
	</div>
	<div class="admin-infobox pull-right">
		<h2><%= link_to  "Downloads",downloads_path %></h2>
		<p>View, show, delete, edit articles that have been created already, or create new events.</p>
	</div>
</div>
