// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment{
	margin:2px;
	padding-left:10px;
	padding-right:10px;
	transition:1s all;
}

.comment-approve{
	color:green !important;
}

.comment-approve{
	color:green !important;
}

.delete-btn{
	color:red !important;
}

.comment-disapprove{
	color:red !important;
}

.comment .bubble-content{
	opacity: 0.5;
	transition:0.7s all;
}

.comment .bubble-content:hover{
	opacity: 1;
}